body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
  }
  
  li h3 {
    margin: 0;
    color: #333;
  }
  
  li p {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #777;
  }
  
  a,
  button {
    padding: 5px 10px;
    margin-right: 5px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
  }
  
  a:hover,
  button:hover {
    background-color: #555;
  }
  